<mat-tab-group>
  <mat-tab label="Prepared Spells">
    <div class="column content">
      @for (spell of preparedSpells; track spell) {
        <div class="column col-100 session" (click)="spellInfo(spell)">
      <span class="row title">
        <span class="name">{{ spell?.name | titlecase }}</span>
        <span class="actions">
          <mat-icon
            (click)="$event.stopPropagation();togglePrepareSpell(spell)">nearby_off</mat-icon>
          <mat-icon (click)="$event.stopPropagation();spellDialog(spell)">edit</mat-icon>
          <mat-icon (click)="$event.stopPropagation();deleteSpell(spell)" class="delete">delete</mat-icon>
        </span>
      </span>
          <span class="row lvl">
        <span>Level: {{ !spell?.level ? 'Cantrip' : spell?.level }}</span>
        <span class="row components">
          @if (spell.concentration) {
            <span class="component c"><mat-icon>running_with_errors</mat-icon></span>
          }
          @if (spell.ritual) {
            <span class="component r"><mat-icon>groups_3</mat-icon></span>
          }
          <span>(</span><span class="component s">{{ spell.components?.s ? "S" : "" }}</span>
          <span class="component v">{{ spell.components?.v ? "V" : "" }}</span>
          <span class="component m">{{ spell.components?.m ? "M" : "" }}</span>)
        </span>
      </span>
          <span class="row lvl">
            <span>Casting Time: {{ spell.castTime | lowercase }}</span>
            <span>Duration: {{ spell?.duration | lowercase }}</span>
          </span>
          <span class="desc">{{ spell?.description?.slice(0, 200) }}...</span>
        </div>
      }
    </div>
  </mat-tab>
  <mat-tab label="Learned Spells">
    <div class="column content">
      @for (spell of learnedSpells; track spell) {
        <div class="column col-100 session" (click)="spellInfo(spell)">
      <span class="row title">
        <span class="name">{{ spell?.name | titlecase }}</span>
        <span class="actions">
          <mat-icon
            (click)="$event.stopPropagation();togglePrepareSpell(spell)">psychology</mat-icon>
          <mat-icon (click)="$event.stopPropagation();spellDialog(spell)">edit</mat-icon>
          <mat-icon (click)="$event.stopPropagation();deleteSpell(spell)" class="delete">delete</mat-icon>
        </span>
      </span>
          <span class="row lvl">
        <span>Level: {{ !spell?.level ? 'Cantrip' : spell?.level }}</span>
        <span class="row components">
          @if (spell.concentration) {
            <span class="component c"><mat-icon>running_with_errors</mat-icon></span>
          }
          @if (spell.ritual) {
            <span class="component r"><mat-icon>groups_3</mat-icon></span>
          }
          <span>(</span><span class="component s">{{ spell.components?.s ? "S" : "" }}</span>
          <span class="component v">{{ spell.components?.v ? "V" : "" }}</span>
          <span class="component m">{{ spell.components?.m ? "M" : "" }}</span>)
        </span>
      </span>
          <span class="row lvl">
            <span>Casting Time: {{ spell.castTime | lowercase }}</span>
            <span>Duration: {{ spell?.duration | lowercase }}</span>
          </span>
          <span class="desc">{{ spell?.description?.slice(0, 200) }}...</span>
        </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>


