.content {
  margin: 0 auto;

  .session {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    color: #3e3e3e;

    .title {
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      justify-content: space-between;
      align-items: center;

      .name {
        color: darkslateblue;
        border-bottom: 1px solid darkslateblue;
      }

      .actions {
        mat-icon + mat-icon {
          margin-left: 15px;
        }

      }

      .delete {
        color: crimson;
      }
    }

    .lvl {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: bold;
      justify-content: space-between;
      align-items: center;

      .components {
        align-items: center;

        .component {
          &.c {
            color: grey;
          }

          &.r {
            color: rebeccapurple;
            margin-right: 10px;
          }

          &.s {
            color: dodgerblue;
          }

          &.v {
            color: forestgreen;
          }

          &.m {
            color: goldenrod;
          }

          & + .component {
            margin-left: 10px;
          }
        }
      }
    }

    .desc {
      font-size: 14px;
      white-space: pre-wrap;
    }
  }
}
