@if (char?.spellSaveDC || char?.spellAttackPower) {
  <p class="row spell-specs spread-between">
    <span>Spell Save DC: <span class="value">{{ (char | spellSaveDC) ?? '(unspecified)' }}</span></span>
    <span>Spell Power: <span class="value">{{ (char | spellAttackPower) ?? '(unspecified)' }}</span></span>
  </p>
}
<mat-tab-group>
  <mat-tab [label]="'Prepared Spells (' + preparedSpells.length + ')'">
    <div class="column content">
      @for (spell of preparedSpells; track spell) {
        <div class="column col-100 session" (click)="spellInfo(spell)">
      <span class="row title">
        <span class="name">{{ spell?.name | titlecase }}</span>
        <span class="actions">
          <mat-icon inline
                    (click)="$event.stopPropagation();togglePrepareSpell(spell)">nearby_off</mat-icon>
          <mat-icon inline (click)="$event.stopPropagation();spellDialog(spell)">edit</mat-icon>
          <mat-icon inline (click)="$event.stopPropagation();deleteSpell(spell)" class="delete">delete</mat-icon>
        </span>
      </span>
          <span class="row name">
        <span>Level: <span class="value">{{ !spell?.level ? 'Cantrip' : spell?.level }}</span> | <span
          class="value">Range: {{ spell.range }}</span></span>
        <span class="row components">
          @if (spell.concentration) {
            <span class="component c"><mat-icon inline>running_with_errors</mat-icon></span>
          }
          @if (spell.ritual) {
            <span class="component r"><mat-icon inline>groups_3</mat-icon></span>
          }
          <span class="component bracket">(</span>
          @if (spell.components?.s) {
            <span class="component s">S</span>
          }
          @if (spell.components?.v) {
            <span class="component v">V</span>
          }
          @if (spell.components?.m) {
            <span class="component m">M</span>
          }
          <span class="component bracket">)</span>
        </span>
      </span>
          <span class="row name">
            <span>Casting Time: <span class="value">{{ spell.castTime | lowercase }}</span></span>
            <span>Duration: <span class="value">{{ spell?.duration | lowercase }}</span></span>
          </span>
          <span class="desc">{{ spell?.description?.slice(0, 200) }}...</span>
        </div>
      }
    </div>
  </mat-tab>
  <mat-tab [label]="'Prepared Spells (' + learnedSpells.length + ')'">
    <div class="column content">
      @for (spell of learnedSpells; track spell) {
        <div class="column col-100 session" (click)="spellInfo(spell)">
      <span class="row title">
        <span class="name">{{ spell?.name | titlecase }}</span>
        <span class="actions">
          <mat-icon inline
                    (click)="$event.stopPropagation();togglePrepareSpell(spell)">nearby_off</mat-icon>
          <mat-icon inline (click)="$event.stopPropagation();spellDialog(spell)">edit</mat-icon>
          <mat-icon inline (click)="$event.stopPropagation();deleteSpell(spell)" class="delete">delete</mat-icon>
        </span>
      </span>
          <span class="row name">
        <span>Level: <span class="value">{{ !spell?.level ? 'Cantrip' : spell?.level }}</span></span>
        <span class="row components">
          @if (spell.concentration) {
            <span class="component c"><mat-icon inline>running_with_errors</mat-icon></span>
          }
          @if (spell.ritual) {
            <span class="component r"><mat-icon inline>groups_3</mat-icon></span>
          }
          <span class="component bracket">(</span>
          @if (spell.components?.s) {
            <span class="component s">S</span>
          }
          @if (spell.components?.v) {
            <span class="component v">V</span>
          }
          @if (spell.components?.m) {
            <span class="component m">M</span>
          }
          <span class="component bracket">)</span>
        </span>
      </span>
          <span class="row name">
            <span>Casting Time: <span class="value">{{ spell.castTime | lowercase }}</span></span>
            <span>Duration: <span class="value">{{ spell?.duration | lowercase }}</span></span>
          </span>
          <span class="desc">{{ spell?.description?.slice(0, 200) }}...</span>
        </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>


