.controls {
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;

  & + .controls {
    margin-top: 10px;
  }

  .counter {
    min-width: 75px;
  }

  .slider-group {
    min-width: calc(50% - 20px);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

    & + .slider-group {
      margin-left: 10px;
    }
  }

  .title {
    text-align: center;
  }

  .option + .option {
    margin-top: 10px;
  }
}
