<div class="row controls">
  @for (control of counterControls; track control.uuid; let i = $index) {
    <app-ui-counter class="counter" [control]="control" (valueChange)="control.counter!.value=$event;updateControl(control)"/>
  }
</div>
<div class="row controls">
  @for (control of optionControls; track control.uuid; let i = $index) {
    <div class="column col-45 slider-group">
      <span class="option title">{{ control?.title }}</span>
      @for (option of control?.options; track option; let j = $index) {
        <mat-slide-toggle [(ngModel)]="option.value" class="option"
                          (ngModelChange)="!control?.multi ? singleSelect(i,j):undefined">
          {{ option?.name | titlecase }}
        </mat-slide-toggle>
      }
    </div>
  }
</div>
