.actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  min-width: 350px;
}

.row {
  align-items: center;

  &:first-child{
    margin-top: 10px;
  }

  mat-slider {
    width: 100%;
  }
}
