<div class="column col-100">
  <span class="title">Proficiencies</span>
  <span class="prof"><span>{{ character?.proficiency?.lightArmor ? '✅' : '❌' }}</span> Light Armor</span>
  <span class="prof"><span>{{ character?.proficiency?.mediumArmor ? '✅' : '❌' }}</span> Medium Armor</span>
  <span class="prof"><span>{{ character?.proficiency?.heavyArmor ? '✅' : '❌' }}</span> Heavy Armor</span>
  <span class="prof"><span>{{ character?.proficiency?.simpleWeapon ? '✅' : '❌' }}</span> Simple Weapon</span>
  <span class="prof"><span>{{ character?.proficiency?.martialWeapon ? '✅' : '❌' }}</span> Martial Weapon</span>
  <span class="prof"><span>{{ character?.proficiency?.shield ? '✅' : '❌' }}</span> Shield</span>
</div>
