.session {
  .name {
    margin-bottom: 5px;
    font-size: 12px;
    justify-content: space-between;
    color: #8f8f8f;

    .value {
      font-weight: bold;
      color: #3e3e3e;
    }

    .component {
      &.s {
        color: dodgerblue;
        font-weight: bold;
      }

      &.v {
        color: forestgreen;
        font-weight: bold;
      }

      &.m {
        color: goldenrod;
        font-weight: bold;
      }

      & + .component {
        margin-left: 10px;
      }
    }
  }

  .desc {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    font-size: 14px;
    white-space: pre-wrap;
  }
}
