<h2 mat-dialog-title>{{ spell?.name | titlecase }}</h2>
<mat-dialog-content>
  <div class="column col-100 session">
    <span class="row name">
        <span>Level: <span class="value">{{ !spell?.level ? 'Cantrip' : spell?.level }}</span></span>
        <span>
          <span class="component s">{{ spell.components?.s ? "S" : "" }}</span>
          <span class="component v">{{ spell.components?.v ? "V" : "" }}</span>
          <span class="component m">{{ spell.components?.m ? "M" : "" }}</span>
        </span>
      </span>
    <span class="row name">
        <span>Range: <span class="value">{{ spell.range | lowercase }}</span></span>
      </span>
    <span class="row name">
        <span>Casting Time: <span class="value">{{ spell.castTime | lowercase }}</span></span>
        <span>Duration: <span class="value">{{ spell?.duration | lowercase }}</span></span>
      </span>
    <span class="row name">
            <span>
              Concentration: <span class="value">{{ spell?.concentration ? "Yes" : "No" }}</span></span>
            <span>Ritual: <span class="value">{{ spell?.ritual ? "Yes" : "No" }}</span></span>
          </span>
    <span class="desc">{{ spell?.description }}</span>
  </div>
</mat-dialog-content>

